<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <script src="js/admin.js" type="application/javascript"></script>
</head>
<body>
    <ul id="wordList">
        {% for word in words %}
         <li>{{ escape(word[0]) }}</li>
       {% end %}
    </ul>
</body>
</html>